<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="myget/nunit" value="https://www.myget.org/F/nunit/api/v3/index.json" protocolVersion="3" />

    <add key="MSBuildSdkExtras" value="https://pkgs.dev.azure.com/clairernovotny/GitBuilds/_packaging/MSBuildSdkExtras/nuget/v3/index.json" protocolVersion="3" />
    
  </packageSources>
</configuration>
